doctype html
html
  head
    title= 'IMDB movies and series'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home - IMDB movies and series
    br
    a(href='/movie') Top movies in IMDB
    br
    a(href='/serie') Top series in IMDB

    block content
