extends layout

block content
    .row
        h4 New Top movie
    form(action="", method="post")
        .form-group.row
            label Year
                input.form-control(name="year")
        .form-group.row
            label Name
                input.form-control(name="name")
        .form-group.row
            button.btn-primary Add